<!DOCTYPE html>
<html lang="en">
<head>

{% if not user.is_authenticated %}
    <script>window.location.href = "{% url 'landingpage' %}"</script>
{% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sversity is the online edu. Tech division of Apcosys Private Limited and Apcosys is a software development and consultancy company with headquarter in Bangalore, India. Sversity online learning destination, offering high-quality courses from the world's best universities and institutions to learners everywhere. In the age of internet, do we really need to spend huge amount on getting degrees? One can equally quench his third for knowledge by joining online classes.">
    <title>Leapss - Leave Management System</title>
    {% load static %}
    <link href="{% static 'assets\css\admin.css' %}" rel="stylesheet">
    <link href="{% static 'assets\css\calendar.css' %}" rel="stylesheet">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Ionic Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
 
    <!-- bootstrap Icon  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- Google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0" />
     
    <!-- Ajax -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          
          ['Active Clients',      {{approved_clients}}],
          ['InActive Clients',  {{inactive_clients}}],
          [' Clients Request',  {{client_requests}}],
        ]);

        var options = {
          title: 'Total Clients : {{total_company}}',
          is3D: true,
          colors: ['#52d89c', '#ffc14e', '#ff7b5d'],
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>

   
    
    
    
</head>

<body id="body-pd">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white   position-sticky header" id="sidebar-wrapper">
          <div class="justify-content-center">
            <div class="leapss"><img src="{% static 'assets/img/logo.png'%}" alt="">
            <button class="btn" id="sidebarClose"><i class="bi bi-x navToggle"></i>  </button>
            </div>
          </div>
            <ul class="sidebar-nav " id="sidebar-nav">
                <li class="profile"data-bs-toggle="collapse">
                    <img src="{% static 'assets/img/user.png'%}" alt="" class="img-fluid rounded-circle">
                    <h6>{{user.username}}</h6>
                </li>
            </ul>
            <div class="list-group list-group-flush" style="list-style:none; margin-top: 3%;">
                <li ><a class="list-group-item active" href="{% url 'homeDashboard' %}"><i class="bi bi-grid" style="margin-left: 20%; font-size:18px;"></i><span></i> <span>Home</span></a></li>
                <li><a class="list-group-item" href="{% url 'appRequestDashboard' %}"> <i class="bi bi-clock" style="margin-left: 20%;font-size:18px; "></i><span></i><span>Client Requests</span></a></li>
                <li><a class="list-group-item " href="{% url 'approvedClientDashboard' %}"><i class="bi bi-diagram-3"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Our Clients</span></a></li>
                <li><a class="list-group-item " href="{% url 'activeClientDashboard' %}"><i class="bi bi-diagram-3"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Active Clients</span></a></li>
                <li><a class="list-group-item " href="{% url 'inactiveClientDashboard' %}"><i class="bi bi-diagram-3"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Inactive Clients</span></a></li>
                <li><a class="list-group-item " href="{% url 'rejectedClientDashboard' %}"><i class="bi bi-receipt"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Rejected Clients</span></a></li>
                <li><a class="list-group-item " href="{% url 'companyfeedback' %}"><i class="bi bi-receipt"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Feedback </span></a></li>
                <li><a class="list-group-item" href="{% url 'admincompanysupport' %}"><i class="bi bi-receipt"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Support </span></a></li>
             </div>
             <div class="logout">
              <a class="nav-link"href="{% url 'logout_superuser' %}"><span class="material-symbols-outlined"style="padding:5%;font-weight: 600; position:relative;top:3px;">
                logout
                </span><span style="font-family: 'Segoe UI', sans-serif; position:relative;bottom:3px; ">Log Out</span></a>
            </div>
            
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg  align-items-center justify-content-between  ">
                  
                <div class="logo d-flex align-items-center">
                  <button class="btn toggle " id="sidebarToggle"><i class="bi bi-list navToggle"></i></button>
                    <!-- <img src="{% static 'assets/img/Apcosys.png'%}" alt=""> -->
                    <span>{% if dic.com is None %}Leapss{% else %}{{ dic.com }}{% endif %}</span>
                  </div>
                  {% comment %} <ul class="d-flex align-items-center header-nav">
                    <li style="list-style: none; "class="addEmp">
                        <a type="button" style="margin-right:30px" href="/addEmployee" class="btn ">
                          Add Employee
                        </a>
                    </li>
                  </ul> {% endcomment %}
            </nav>
            <section class="section container pageClass  bg-white rounded dashboard">
                <div class="row">
                  <div class="col-md-3">
                    <a href="{% url 'approvedClientDashboard' %}" style="text-decoration: none;">
                      <div class="card cardd"style = "background-color: #009eff;border:none;">
                          <div class="card-body">
                               
                              <p class="card-text"> <b>{{ total_company }}</b> <br>Total Clients</p>
                              {% comment %} <h5 class="card-title" style="color: #ffffff;">{{dic.total_emp}}</h5> {% endcomment %}
                          </div>
                      </div>
                    </a> 
                  </div>
                    <div class="col-md-3">
                      <a href="{% url 'activeClientDashboard' %}" style="text-decoration: none;">
                        <div class="card cardd" style = "background-color: #52D89C; border:none; ">
                            <div class="card-body">
                              <p class="card-text"><b>{{ approved_clients }}</b> <br>Active Clients </p>
                              {% comment %} <h5 class="card-title" style="color: #ffffff;">{{dic.present_today}}</h5> {% endcomment %}
                            </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="{% url 'inactiveClientDashboard' %}" style="text-decoration: none;">
                        <div class="card cardd"style = "background-color: #FFC14E;border:none;">
                            <div class="card-body">
                              <p class="card-text"><b>{{ inactive_clients }}</b> <br>InActive Clients</p>
                              {% comment %} <h5 class="card-title" style="color: #ffffff;">{{dic.total_leave}}</h5> {% endcomment %}
                            </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-3 ">
                      <a href="{% url 'appRequestDashboard' %}" style="text-decoration: none;">
                        <div class="card cardd" >
                            <div class="card-body"style = "background-color: #FF7B5D; border:none; border-radius:4px;">
                              <p class="card-text"><b>{{ client_requests }}</b> <br>Clients Request </p>
                              {% comment %} <h5 class="card-title" style="color: #ffffff;">{{dic.apply_leav}}</h5> {% endcomment %}
                            </div>
                        </div>
                      </a>
                    </div>  
                </div> 
                

                    <br>
                    <div class="container">
                      <div class="row">
                          <!-- Client Dropdown -->
                          <div class="col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
                              <select class="form-control" id="clientDropdown">
                                  <option value="0">Select Client</option>
                                  {% for all_client in all_clients %}
                                      <option value="{{ all_client.pk }}">{{ all_client }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                          
                          <!-- Default Pie Chart -->
                          <div class="col-sm-6 shadow-lg p-3 mb-5 bg-white rounded" id="defaultdata">
                              <div id="piechart_3d" style="width: 600px; height: 350px;"></div>
                          </div>
                          <div class="col-sm-6 shadow-lg p-3 mb-5 bg-white rounded" id="defaultbar">
                            <canvas id="myChartnew" style="width:100%;max-width:600px"></canvas>
                          </div>

                          <!-- New Pie Chart (Initially Hidden) -->
                          <div class="col-sm-6 shadow-lg p-3 mb-5 bg-white rounded " id="newdata">
                            <div id="newChart" style="width: 600px; height: 450px;"></div>
                          </div>

                          <!-- Bar Chart -->
                          <div class="col-sm-6 shadow-lg p-3 mb-5 bg-white rounded" id="newbar">
                              <canvas id="myChart" style="max-width:600px"></canvas>
                          </div>

                          
                      </div>
                  </div>
                  
                 
            </section>


   
        </div>
    </div>
    <div class="d-flex justify-content-between privacy bg-primary">
      <div class="row">
          <a href="{% url 'privacyPolicy' %}">Privacy Policy</a>
          <a href="{% url 'termsAndConditions' %}">Terms & Conditions</a> 
      </div>
      <div>
          <a href="{{ dic.com.website }}" target="_blank">&copy {{dic.com}}</a> 
      </div>
    </div>


    <script>
      var xValues = ["Active Clients", "InActive Clients", "Clients Request"];
      var yValues = [ {{approved_clients}}, {{inactive_clients}}, {{client_requests}}];
      var barColors = ['#52d89c', '#ffc14e', '#ff7b5d'];
      
      new Chart("myChartnew", {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          legend: {display: false},
          title: {
            display: true,
            text: "Total Clients :  {{total_company}}"
          }
        }
      });
    </script>

    <script>
      jQuery.noConflict();
      jQuery(document).ready(function($) {
          // Initialize the bar chart once when the page loads
          var barChart = initializeChart();
  
          $("#clientDropdown").change(function () {
              var selectedClient = $(this).val();
              console.log("Selected Client: " + selectedClient);
              if (selectedClient !== '0') {
                  $("#newdata").show();
                  $("#defaultdata").hide();
                  $("#defaultbar").hide();
              } else {
                  $("#newdata").hide();
                  $("#defaultdata").show();
              }
              $.ajax({
                  type: 'GET',
                  url: '/getDashboardData/' + selectedClient + '/',
                  success: function (data) {
                      console.log(data.in_deactivate);
  
                      // Update the DOM elements with the received data
                      $('#calculatedData').html('Total Employees: ' + data.total_employee);
  
                      // For displaying the employee list
                      var employeeListContainer = $('#employeeListContainer');
                      employeeListContainer.empty(); // Clear previous content
  
                      if (data.all_employee.length > 0) {
                          for (var i = 0; i < data.all_employee.length; i++) {
                              var employee = data.all_employee[i];
                              var listItem = $('<li>').text('Employee ID: ' + employee.pk + ', Name: ' + employee.fields.name);
                              employeeListContainer.append(listItem);
                          }
                      } else {
                          // Handle the case when there are no employees
                          var noEmployeeItem = $('<li>').text('No employees found.');
                          employeeListContainer.append(noEmployeeItem);
                      }
  
                      // Update the bar chart with new data
                      updateChart(barChart, data.total_employee, data.in_activate, data.in_deactivate);
  
                      // Draw the pie chart with new data
                      drawNewChart(data.total_employee, data.in_activate, data.in_deactivate);
                  },
                  error: function (error) {
                      console.log(error);
                  }
              });
          });
      });
  
      function initializeChart() {
          // Initialize the bar chart once when the page loads
          var ctx = document.getElementById("myChart").getContext("2d");
          return new Chart(ctx, {
              type: "bar",
              data: {
                  labels: ["Total User", "Active Users", "InActive Users"],
                  datasets: [{
                      backgroundColor: ['#52d89c', '#ffc14e', '#ff7b5d'],
                      borderColor: ['#52d89c', '#ffc14e', '#ff7b5d'],
                      data: [0, 0, 0]
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true,
                              callback: function(value) {if (value % 1 === 0) {return value;} }
                          }
                      }]
                  },
                  legend: { display: false },
                  title: {
                      display: true
                      {% comment %} text: "World Wine Production 2018" {% endcomment %}
                  }
              }
          });
      }
  
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawNewChart);
  
      function drawNewChart(totalEmployee, activeEmployee, inactiveEmployee) {
          const newData = google.visualization.arrayToDataTable([
              ['Country', 'Wine Production (Mhl)'],
              {% comment %} ['Total User', totalEmployee], {% endcomment %}
              ['Active User', activeEmployee],
              ['In Active User', inactiveEmployee]
          ]);
  
          const newOptions = {
              {% comment %} title: 'Total Employees', {% endcomment %}
              is3D: true,
              colors: ['#52d89c', '#ffc14e', '#ff7b5d'],
          };
  
          const newChart = new google.visualization.PieChart(document.getElementById('newChart'));
          newChart.draw(newData, newOptions);
      }
  
      function updateChart(chart, totalEmployee, activeEmployee, inactiveEmployee) {
          // Update the bar chart with new data
          chart.data.datasets[0].data = [totalEmployee, activeEmployee, inactiveEmployee];
          chart.update();
      }
  </script>
  
  
  <div id="calculatedData"></div>
  <ul id="employeeListContainer" style="display:none"></ul>   
    


</body>

</html>